Checks: '-*,\
        bugprone-*,\
        clang-analyzer-*,\
        cppcoreguidelines-*,\
        modernize-*,\
        performance-*,\
        readability-*'

HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: 'file'
